@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: rgb(236, 254, 170);
  color: rgb(98, 98, 103);
}

.same_line {
  display: inline;
}

.align_right {
  float: right;
}

.margin-5 {
  margin: 5px;
}

.align-center {
  height: 75px;
  display: flex;
  align-items: center;
}


.light-link {
  color: rgb(236, 254, 170)
}

.light-text {
  color: rgb(226, 222, 132)
}

.center {
  text-align: center;
}

.right {
  text-align: end;
}

.inline {
  display: inline;
}