@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

a {
  color: #002684;
}

body {
  background-color: #f5f6f8;
}

.same_line {
  display: inline;
}

.align_right {
  float: right;
}

.margin-5 {
  margin: 5px;
}

.align-center {
  height: 75px;
  display: flex;
  align-items: center;
}


.light-link {
  color: rgb(236, 254, 170)
}

.light-text {
  color: #f5f6f8
}

.center {
  text-align: center;
}

.right {
  text-align: end;
}

.left {
  text-align: left;
}

#top-space {
  margin-top: 10px;
}

.inline {
  display: inline;
}

.title {
  font-weight: bold;
  color: black
}

.border {
  border: 1px black solid;
}

.list-border {
  border: 1px black solid;
  padding-left: 4px;
  margin-top: 4px;
}

.text-middle {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 20px;
}

.small-round {
  border-radius: 10px;
}

.button {
  font-weight: bold;
}

.front-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.welcome-text {
  display: inline-block;
  text-align: justify;
  width: 70%
}

.red {
  color: red;
  cursor: pointer;
}

.yellow {
  color: orange;
  cursor: pointer;
}

.green {
  color: green;
  cursor: pointer;
}

.bold {
  font-size: 125%;
}

#white-text {
  color: white;
}

.pantry {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pantry-organization-hbx110120wholehome-015-1613512868.jpg);
    background-size: 100%;
    background-position: center;
    opacity: 0.5;
  }
}

.pantry-text{
  position: relative;
}

.cookbook {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/skillet-suppers-1612369294.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
}

.cookbook-text{
  position: relative;
}

.ingredient-note-red {
  padding-left: 4px;
  background-color: white;
  width: 250px;
  border:red solid 2px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.ingredient-note-yellow {
  padding-left: 4px;
  background-color: white;
  width: 250px;
  border:orange solid 2px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.ingredient-note-green {
  padding-left: 4px;
  background-color: white;
  width: 250px;
  border:green solid 2px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

#made-recipe {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  text-align: center;
}

.shadow {
  box-shadow: 5px 5px 10px #002684;
}

.hover-link:hover {
  background-color: lightblue;
}

.save-button {
  margin: 10px;
}

.space {
  margin: 10px;
}